body {
    background-color: black;
    color: white;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: gray;
}
a:active {
    color: white;
}
.header {
    background-color: black;
    display: flex;
    padding: 10px;
}
.logo {
    float: left;
    width: 100%;
    margin: auto;
}
.logo img {
    width: 5%;
    filter: invert(1);
}
.menu {
    display: flex;
    float: right;
    margin: auto;
}
.menu button {
    background-color: transparent;
    margin-left: 10px;
    font-size: large;
    color: white;
    padding: 10px;
    width: 100%;
    border: 0;
}
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    border-bottom: 3px solid gray;
    color: gray;
}
.active{
    border-bottom: 3px solid white;
}
.container {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    font-size: larger;
}
.container img {
    width: 100%;
}