body {
    background-color: #eac42a !important;
    background-position: center !important;
    max-width: 720px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

img {
    border-radius: 20px;
}

label {
    margin-top: 10px
}

.form {
    width: 90% !important;
    padding: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: white;
    border-radius: 20px;
}

.list-group {
    margin-top: 30px;
    border-radius: 0 !important;
}

.list-group-item {
    margin-bottom: 20px;
    border-radius: 20px !important;
}

.title {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.date {
    font-size: xx-small;
    margin-bottom: 0 !important;
}

.button {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.modal-title {
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: x-large;
}

.modal-header {
    text-align: center !important;
}

.modal-body {
    text-align: center !important;
}

.ava {
    width: 25%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.footer {
    margin-top: auto;
    text-align: center;
    display: grid;
}

.copyright {
    position: fixed;
    bottom: 0;
    align-self: center;
    justify-self: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.payment {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.payment iframe{
    border-radius: 20px;
    margin: 50px 0 !important;
}

.empty {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
}

.load {
    text-align: center;
    height: 25vw;
    display: grid;
}

.load div {
    align-self: center;
    justify-self: center;
}

.alert {
    opacity: 1 !important;
}

.items {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}