<html>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a id="logo" class="navbar-brand logo white" href="#">
            <img src="../assets/logo.png" />
            <img style="width: 50px;" src="../assets/title.png" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="navbarList">
            </ul>
            <button onclick="theme()" class="theme">
              <span id="setTheme" class="mdi mdi-weather-night white"></span>
            </button>
          </div>
        </div>
    </nav>
</html>

<script>
  fetch("./databases/navbar.json")
    .then(response => response.json())
    .then(data => {
      console.log(data)
      let navbar_list = data
      let navbarList = document.querySelector("#navbarList")
      let navbarLink = document.getElementById("navbarLink")
      const navbar = data => {
      const template = document.createElement("template")
      template.innerHTML =
      `<li class="nav-item navItem" id="navbarItem">
      <a class="nav-link" id="navbarLink${navbar_list[i].title}" aria-current="page" href="${navbar_list[i].to}">${navbar_list[i].title}</a>
      </li>`
      .trim()
      return template.content.firstChild
  }
  for (i in navbar_list) {
    navbarList.append(navbar(0))
  }
  document.getElementById("navbarLinkHOME").classList.add("active")
  })
</script>