html, body {
    background-image: url("https://pbs.twimg.com/media/E09CSe7UUAEYmpA.jpg:large");
    background-position: center !important;
    width: -webkit-fill-available !important;
    display: grid !important;
    align-items: center !important;
    justify-items: center !important;
    margin: 0px !important;
    background-color: black !important;
}

.video-js {
    width: 100% !important;
    text-align: center !important;
}

.player-container {
    width: 75% !important;
    text-align: center !important;
    border: 1px solid white !important;
    margin: 20px !important;
}

.vjs-big-play-button {
    top: 50% !important;
    left: 45% !important;
    right: 45% !important;
    width: -webkit-fill-available !important;
}

.title {
    width: -webkit-fill-available;
    background-color: #ed2027;
    display: flex;
}

.token {
    align-items: center;
    display: flex;
    font-weight: bold;
    color: white;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 0 !important;
}

.schedule {
    background-color: white;
    width: -webkit-fill-available;
    padding: 20px;
}

.title-schedule {
    font-size: x-large;
    font-weight: bolder;
    color: black;
    text-align: center;
}

.table {
    color: black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}